@media screen and (max-width: 600px) {
    .jumbotron {
        display: none;
    }

    img.recipe-img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    img.steps-img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .user-recipe-card img {
        width: 100%;
    }

    .created-steps {
        max-height: none;
    }

    .btn-edit-recipe {
        margin-left: auto;
        margin-right: auto;
    }

    .recipe-user {
        margin-top: 20px;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px 4px #9c9c9c;
    }

    .step-create {
        border-right: none;
    }

    .usr-img-link {
        width: 60%;
    }

    .user-img {
        width: 50%;
    }

    .recipe-show-avatar {
        width: 30%;
    }
}